@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    background-color: #DBDBDB;
    font-family: 'Roboto', sans-serif;
}

#menuTabs {
    left: 20px;
    top: 20px;
    bottom: 20px;
    width: 25%;
}

#tmTextCode {
    height: 300px;
}

#tmAnimation {
    font-family: monospace;
    font-size: 200%;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 5px;
}

#tmTabs {
    right: 20px;
    top: 20px;
    bottom: 20px;
    width: 67%;
}

#stateBoxes {
    display: table;
    border-spacing: 10px;
}

button {
    min-width: 100px;
}

.stateBox {
    border: 0px solid #ccc;
    position: relative;
    display: table-cell;
    width: 300px;
    background: rgba(255, 255, 255, 0.23);
    padding: 20px;
}

#tm-content {
    padding: 10px;
}

.transTable {
    text-align: center;
}

.dataArea {
    height: 20px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    overflow: auto;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .3);
}

#tape {
    height: 20px;
    /* width: 300px; */
    font-size: 20px;
    overflow: auto;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .3);
}

#tmInputData {
    vertical-align: middle;
}

#addStateButton {
    position: fixed;
    margin: 10px;
}

.removeStateButton {
    float: right;
}

.addTransitionButtonTop {
    float: right;
}

textarea {
    resize: none;
}

.centered {
    text-align: center;
}

.btn {
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .3);
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    opacity: .8;
    transition: all .3s;
    margin: 3px 0px;
    outline: none;
}

.btn-turing {
    width: 150px;
}

.btn a {
    text-decoration: none;
}

.btn:hover {
    opacity: 1;
}

.btn.btn-blue {
    color: #fff;
    background-color: #7986CB;
}

.btn.btn-green {
    color: #fff;
    background-color: #4caf50;
}

.btn.btn-orange {
    color: #fff;
    background-color: orange;
}

.btn.btn-red {
    color: #fff;
    background-color: #F44336;
    ;
}

.table {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.34);
    width: 83%;
    border-radius: 5px;
    padding: 10px;
}

.input {
    border-radius: 3px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .3);
    height: 25px;
}

.input.machine {
    height: 200px;
}

.label {
    font-size: 20px;
}