.tabs {
  position: absolute;
  clear: both;
  margin: 25px 0;
}

.tab {
  float: left;
}

.tab label {
  background: #eee; 
  padding: 10px; 
  border: 0px solid #ccc;  
  margin-right: 10px; 
  position: relative;
  cursor: pointer;
}

.tab [type=radio] {
  display: none;
}

.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: #3f51b5;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 0px solid #ccc; 
  overflow:auto;
  border-radius: 3px;
}

[type=radio]:checked ~ label {
  background: #3f51b5;
  border: 0px solid #3f51b5;
  z-index: 2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}